# Node
node_modules/
npm-debug.log*
pnpm-lock.yaml
yarn.lock

# Python
default.profraw
*.py[cod]
__pycache__/
*.egg-info/
*.eggs/
.pytest_cache/
.venv/
venv/

# Editors
.DS_Store
.idea/
.vscode/
*.swp

# Build artifacts
dist/
build/
coverage/
